cairocffi==1.6.0
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.1.0
cssselect2==0.7.0
cycler==0.11.0
defusedxml==0.7.1
fonttools==4.40.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.25.0
packaging==23.1
Pillow==9.5.0
pychord==1.2.0
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
tinycss2==1.2.1
urllib3==2.0.3
webencodings==0.5.1
